.tetromino {
    background-color: blue;
}

/* game container styling */

.game__grid {
    width: 200px;
    height: 400px;
    background-color: hotpink;
    display: flex;
    flex-wrap: wrap;
}
.game__grid div {
    height: 20px;
    width: 20px;
}

/* showing next styling */

.show__next {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.show__next div {
    height: 20px;
    width: 20px;
}

