
* {
    font-family: 'Notable', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* game container styling */
html, body {
    height: 100%;
    background-image: linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b7b29c), color-stop(0.165, #cc89b4), color-stop(0.33, #cc89b4), color-stop(0.495, #40757d), color-stop(0.66, #40757d), color-stop(0.83, #0f5183), color-stop(1, #0f5183));
    background-image: -moz-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -o-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
    background-image: -ms-linear-gradient(top, #b7b29c 0%, #cc89b4 17%, #cc89b4 33%, #40757d 50%, #40757d 66%, #0f5183 83%, #0f5183 100%);
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}
.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.title {
    font-size: 3em;
    text-align: center;
}

.instructions {
    font-size: 1.5em;
}

.score {
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    font-size: 1.5em;
}
.play__btn {
    background: transparent;
    border: none;
    text-align: center;
    font-size: 1.2em;

}
.play__btn:focus {
    outline: none;
}
.play__btn:hover {
    color: aqua;
    transition: 0.1s;
}

.game__container {
    margin-left: 90px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;

}
.game__grid {
    box-shadow: 10px 10px 50px black;
    box-sizing: initial;
    border: 5px solid black;
    width: 400px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.game__grid div {
    height: 40px;
    width: 40px;
}

/* showing next styling */

.show__next {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;

}

.show__next div {
    height: 20px;
    width: 20px;
}

.tetromino {
    border: 0.000001px solid black;
}

.mobile__clicker {
    width: 100vw;
    margin-top: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.mobile__extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.mobile__left, .mobile__right, .mobile__rotate, .mobile__down {
    padding: 1em;
    font-size: 2em;
    background: transparent;
    border: 4px solid hotpink;
    border-radius: 50%;
    box-shadow: 10px 10px 50px black;
    outline: none;
    touch-action: manipulation;

}


/*MEDIA QUERIES*/
@media only screen and (max-height: 1000px),
screen and (max-width: 1180px) and (min-width: 700px) {
    .game__grid {
        width: 200px;
        height: 400px;
    }
    .game__grid div {
        height: 20px;
        width: 20px;
    }
    .title {
        font-size: 2em;
    }

    .instructions {
        font-size: 1.2em;
    }

    .score {
        font-size: 1.2em;
    }
    .play__btn {
        font-size: 1.2em;

    }
}
@media only screen
and (min-device-width: 200px)
and (max-device-width: 720px)
 {
    .container {
        flex-direction: column-reverse;
    }
    .game__container {}
    .game__grid {
        width: 400px;
        height: 800px;
    }
    .game__grid div {
        height: 40px;
        width: 40px;
    }
    .title {
        font-size: 4em;
    }

    .instructions {
        font-size: 2.5em;
    }

    .score {
        font-size: 2em;
        flex-direction: column;
    }
    .play__btn {
        font-size: 2em;

    }
    .mobile__clicker {
        display: flex;
    }
}

@media only screen
and (min-device-width: 720px)
and (max-device-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .game__grid {
        width: 300px;
        height: 600px;
    }

    .game__grid div {
        height: 30px;
        width: 30px;
    }
    .mobile__clicker {
        display: flex;
    }
    .score {
        font-size: 1.5em;
    }
    .instructions {
        font-size: 2em;
    }
    .title {
        font-size: 2.5em;
    }
}

